body {
  background-color: #121212 !important; 
  color: #fff !important; 
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 4px;
}

.hover-effect:hover {
  background-color: #333333 !important;
  color: #fff !important;
}